<% include head.ejs %>
<title>Movies - My movie website</title>
<h1>Movies</h1>
<p>
  <% if (user) { %>
    Hello <%= user.username %>!
    <a href=/log-out>Log out</a>
  <% } else { %>
    <a href=/log-in>Log in</a>
    or
    <a href=/sign-up>Sign up</a>
  <% } %>
</p>
<% for (var index = 0; index < data.length; index++) { %>
<h2><a href="/<%= data[index].id %>"><%= data[index].title %></a></h2>
<p><%= data[index].plot %></p>
<% } %>
<% if (user) { %>
  <p>
    <a href=/add>Add a movie</a>
  </p>
<% } %>
<% include tail.ejs %>
