<% include head.ejs %>
<title>Log in - My movie website</title>
<h1>Log in</h1>
<form action=/log-in method=post>
  <label>
    Username
    <input name=username>
  </label>
  <label>
    Password
    <input name=password type=password>
  </label>
  <button>Log in</button>
</form>
<% include tail.ejs %>
