<% include head.ejs %>
<title>Sign up - My movie website</title>
<h1>Sign up</h1>
<form action=/sign-up method=post>
  <label>
    Username
    <input name=username>
  </label>
  <label>
    Password
    <input name=password type=password>
  </label>
  <button>Sign up</button>
</form>
<% include tail.ejs %>
